# Importing libraries

In [1]:
import cv2
import pytesseract

from pdf2image import convert_from_path
from pytesseract import image_to_string, image_to_boxes, image_to_data

# Parsing Image from Pdf

In [4]:
images = convert_from_path('./data/finalreport.pdf')
 
for page in range(len(images)):
    # Save pages as images in the pdf
    images[page].save('page'+ str(page+1) +'.jpg', 'JPEG')

## Image Pre-processing

# Parsing Text from Image [Page 13](page13.jpg)

In [3]:
#extracting raw text from image
text_page13 = image_to_string('./page13.jpg')
text_page13

"TERNAL CORRESPONDENCE\na”\n\nneers cee OR I 4a\nCR. 2¢38(H\n\nom Je E. Warren : . ar Houston REFER TO 443102403\n\n» E. K. Ericson ar Sydney DATE August 22, 1969\n\n&\nSpecial Studies-Aquarius #1\n\nQ/4_P_Samples .\n\nIn compliance with Dr. T. C. Wilson's letter dated December 18, 1968 we are sending\nyou by this letter the results of our study. The number of palynomorphs present in the\n‘examined well were adequate to date the section but would be rated fair to poor if com-\npared to normal frequencies. All data were obtained from cores, therefore contamination\nwas not a factor.\n\nThe section below 1999' and above 5770' could be further subdivided using paly-\nnology if desired. Our instructions from Dr. Wilson, however, limited our investigation\nto the barren zone below 5770'. We did not feel we had the authority or that any value\nwould be gained by a more finite breakdown of the Miocene - Eocene section. .\n\ne scatter = ane 22 x =\n\nSamples Examined and Age Assignment\n\nDEPTH\nSAMPLE ___(feet) AGE REMARKS\nCore 1 1000 - 1002.6 Pleistocene Foraminifera Report\n2 1500 - 1503 Lower Pliocene Foraminifera Report\n* 3 1999 = 2001 Upper Miocene Foraminifera Report\n4 2060 - 2068 Upper Miocene Foraminifera Report\n5 2907 - 2910 Miocene Foraminifera Report\n6 3452 - 3454 Miocene?\n7 3967 - 3976 Eocene\n10 5069 ~ 5072 Eocene\n11 5425 - 5427 Eocene\n12 5770 - 5773 ? No th. Diagnostic\n13 6321 ~ 6324 ? Barren\n14° 6824 - 6830 U. Cretaceous (Maestrichtian) ‘\n15 7343 - 7349 U. Cretaceous (Maestrichtian)\n16 7830 - 7833 Barren\n17 8238 ~ 8240 Barren\n18 8615 ~ 8616 Barren\n20 8691 - 8694 Barren\n\nObservations\n\nCores 20, 18, 17, & 16\n\n. The lower four cores were barren of palynomorphs. This interval did yield\n"

In [4]:
#see if split between lines helps
text_page13.splitlines()

['TERNAL CORRESPONDENCE',
 'a”',
 '',
 'neers cee OR I 4a',
 'CR. 2¢38(H',
 '',
 'om Je E. Warren : . ar Houston REFER TO 443102403',
 '',
 '» E. K. Ericson ar Sydney DATE August 22, 1969',
 '',
 '&',
 'Special Studies-Aquarius #1',
 '',
 'Q/4_P_Samples .',
 '',
 "In compliance with Dr. T. C. Wilson's letter dated December 18, 1968 we are sending",
 'you by this letter the results of our study. The number of palynomorphs present in the',
 '‘examined well were adequate to date the section but would be rated fair to poor if com-',
 'pared to normal frequencies. All data were obtained from cores, therefore contamination',
 'was not a factor.',
 '',
 "The section below 1999' and above 5770' could be further subdivided using paly-",
 'nology if desired. Our instructions from Dr. Wilson, however, limited our investigation',
 "to the barren zone below 5770'. We did not feel we had the authority or that any value",
 'would be gained by a more finite breakdown of the Miocene - Eocene section. .',
 '',
 'e scatter = ane 22 x =',
 '',
 'Samples Examined and Age Assignment',
 '',
 'DEPTH',
 'SAMPLE ___(feet) AGE REMARKS',
 'Core 1 1000 - 1002.6 Pleistocene Foraminifera Report',
 '2 1500 - 1503 Lower Pliocene Foraminifera Report',
 '* 3 1999 = 2001 Upper Miocene Foraminifera Report',
 '4 2060 - 2068 Upper Miocene Foraminifera Report',
 '5 2907 - 2910 Miocene Foraminifera Report',
 '6 3452 - 3454 Miocene?',
 '7 3967 - 3976 Eocene',
 '10 5069 ~ 5072 Eocene',
 '11 5425 - 5427 Eocene',
 '12 5770 - 5773 ? No th. Diagnostic',
 '13 6321 ~ 6324 ? Barren',
 '14° 6824 - 6830 U. Cretaceous (Maestrichtian) ‘',
 '15 7343 - 7349 U. Cretaceous (Maestrichtian)',
 '16 7830 - 7833 Barren',
 '17 8238 ~ 8240 Barren',
 '18 8615 ~ 8616 Barren',
 '20 8691 - 8694 Barren',
 '',
 'Observations',
 '',
 'Cores 20, 18, 17, & 16',
 '',
 '. The lower four cores were barren of palynomorphs. This interval did yield']

In [5]:
# looping for better understanding of index and text
for index, text in enumerate (text_page13.splitlines()):
  print(text)

TERNAL CORRESPONDENCE
a”

neers cee OR I 4a
CR. 2¢38(H

om Je E. Warren : . ar Houston REFER TO 443102403

» E. K. Ericson ar Sydney DATE August 22, 1969

&
Special Studies-Aquarius #1

Q/4_P_Samples .

In compliance with Dr. T. C. Wilson's letter dated December 18, 1968 we are sending
you by this letter the results of our study. The number of palynomorphs present in the
‘examined well were adequate to date the section but would be rated fair to poor if com-
pared to normal frequencies. All data were obtained from cores, therefore contamination
was not a factor.

The section below 1999' and above 5770' could be further subdivided using paly-
nology if desired. Our instructions from Dr. Wilson, however, limited our investigation
to the barren zone below 5770'. We did not feel we had the authority or that any value
would be gained by a more finite breakdown of the Miocene - Eocene section. .

e scatter = ane 22 x =

Samples Examined and Age Assignment

DEPTH
SAMPLE ___(feet) AGE REMARKS
Core 1 1000 - 1002.6 Pleistocene Foraminifera Report
2 1500 - 1503 Lower Pliocene Foraminifera Report
* 3 1999 = 2001 Upper Miocene Foraminifera Report
4 2060 - 2068 Upper Miocene Foraminifera Report
5 2907 - 2910 Miocene Foraminifera Report
6 3452 - 3454 Miocene?
7 3967 - 3976 Eocene
10 5069 ~ 5072 Eocene
11 5425 - 5427 Eocene
12 5770 - 5773 ? No th. Diagnostic
13 6321 ~ 6324 ? Barren
14° 6824 - 6830 U. Cretaceous (Maestrichtian) ‘
15 7343 - 7349 U. Cretaceous (Maestrichtian)
16 7830 - 7833 Barren
17 8238 ~ 8240 Barren
18 8615 ~ 8616 Barren
20 8691 - 8694 Barren

Observations

Cores 20, 18, 17, & 16

. The lower four cores were barren of palynomorphs. This interval did yield

In [9]:
import tabula
tabula.environment_info()

Python version:
    3.10.4 (main, Mar 31 2022, 03:37:37) [Clang 12.0.0 ]
Java version:
    openjdk version "19" 2022-09-20
OpenJDK Runtime Environment Homebrew (build 19)
OpenJDK 64-Bit Server VM Homebrew (build 19, mixed mode, sharing)
tabula-py version: 2.5.1
platform: macOS-12.6-arm64-arm-64bit
uname:
    uname_result(system='Darwin', node='Adityas-MacBook-Air.local', release='21.6.0', version='Darwin Kernel Version 21.6.0: Mon Aug 22 20:20:05 PDT 2022; root:xnu-8020.140.49~2/RELEASE_ARM64_T8101', machine='arm64')
linux_distribution: ('Darwin', '21.6.0', '')
mac_ver: ('12.6', ('', '', ''), 'arm64')

In [10]:
import tabula
pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"

dfs = tabula.read_pdf(pdf_path, stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))
dfs[0]

'pages' argument isn't specified.Will extract only from page 1 by default.
Got stderr: Nov 01, 2022 8:03:28 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Nov 01, 2022 8:03:28 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Nov 01, 2022 8:03:29 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 781 fonts

1

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [12]:
from tabula import read_pdf

df = read_pdf('./data/finalreport.pdf', pages='13', stream=True)
df

Got stderr: Nov 01, 2022 8:04:46 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JBIG2 image: jbig2-imageio is not installed
Nov 01, 2022 8:04:46 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JBIG2 image: jbig2-imageio is not installed

[]